* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

ul,
ol {
  list-style: none;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

/* 載入中 */
.productsFollowPage .products-item-group .spinner-grow {
  margin: 10px 45%;
}

/* 關閉側邊欄 */
.productsFollowPage .aside {
  display: none;
}

/* 側邊欄標題 */
.productsFollowPage .aside>.title {
  font-size: 41px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* 手機 主標題 */
.productsFollowPage .main-title-follow {
  display: block;
  margin-bottom: 35px;
}

/* 搜索框 */
.search-follow {
  display: none;
  position: relative;
  margin-bottom: 35px;
}

.search-follow .search-input {
  height: 38px;
  width: 314px;
  border-radius: 50px;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 30px;
  /* 不設定mb0會被其他css影響 */
  margin-left: auto;
  margin-bottom: 0;

}

/* 手機 搜索框 */
.search-follow.mobile {
  display: block;
}

.search-follow.mobile input {
  height: 55px;
  width: 100%;
  border-radius: 50px;
  font-size: 18px;
  padding-right: 60px;
  padding-left: 30px;
  /* 不設定mb0會被其他css影響 */
  margin-bottom: 0;
  outline: none;

}

.search-follow .search-button {
  position: absolute;
  right: 5%;
  top: 18%;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.search-follow .search-button img {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .search-follow {
    display: flex;
    width: 30%;
    margin: 0 0 0 auto;
  }

  .search-follow.mobile {
    display: none;
  }

  .search-follow .search-button {
    width: 23px;
    height: 23px;
  }

}

/* 標題 */
.productsFollowPage .main-title-follow .text {
  position: relative;
  background-color: #EEF7FC;
  border-radius: 20px 0 20px 0;
  padding: 5px 0;
  width: 58%;
  margin: 0 auto 10px;
}

.productsFollowPage .main-title-follow .line {
  background-color: #66CBFF;
  width: 100%;
  height: 1px;
}

.productsFollowPage .main-title-follow .text p {
  position: relative;
  color: #00A0F0;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.productsFollowPage .main-title-follow .text p::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 5%;
  background-color: #66CBFF;
  width: 5px;
  height: 25px;
}

@media screen and (min-width: 992px) {
  .productsFollowPage .main-title-follow {
    display: none;
  }
}

.productsFollowPage .main {
  width: 100%;
}

@media screen and (min-width: 992px) {

  /* 頁面水平 */
  .productsFollowPage {
    display: flex;
    justify-content: space-between;
  }

  /* 開啟側邊欄 */
  .productsFollowPage .aside {
    display: block;
    width: calc(20% - 15px);
  }

  /* 主體寬度 */
  .productsFollowPage .main {
    width: calc(80% - 15px);
  }

}

/* 下拉選單 */

.follow-option {
  cursor: pointer;
}

/* 下拉選單標題 */
.productsFollowPage .cate-select-title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

@media screen and (min-width:992px) {

  /* 關閉下拉選單和其標題 */
  .productsFollowPage .cate-select-title {
    display: none;
  }
}

/* 藍色現在類別標題 */
.main .cate-title-blue {
  display: block;
  background-color: #EEF7FC;
  color: #00A0F0;
  text-align: center;
  font-size: 20px;
  padding: 8px 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {

  /* 桌機 關閉藍色現在類別標題 */
  .productsFollowPage .cate-title-blue {
    display: none
  }
}

/* 商品顯示區 */
.products-item-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

/* 微調商品樣式 */
/* 手機 一行兩個 */
.products-item-group>a {
  width: calc(50% - 10px);
}

.products-item-group .product .item {
  width: 100%;
}


@media screen and (min-width: 992px) {

  /* 商品顯示區 */
  .products-item-group {
    justify-content: flex-start;
  }

  /* 桌機 一行四個 */
  .products-item-group>a {
    width: calc(25% - 10px);
    margin: 0 5px;
  }
}