.cate-nav-phone {
    display: none;
}

/* 點擊添加now樣式 */
.cate-nav-phone .cate .title .text.now,
.cate-nav-phone .body .title .text.now,
.cate-nav-phone .arrow .right.now{
    color: #00A0F0;
}

/* 箭頭樣式 */
.cate-nav-phone .arrow .right {
    color: #000
}

/* 藍色標題背景樣式 */
.cate-nav-phone .blue-title .text {
    position: relative;
    background-color: #EEF7FC;
    border-radius: 20px 0 20px 0;
    padding: 5px 0;
    width: 100%;
    margin: 0 auto 25px;
}

/* 藍色標題文字樣式 */
.cate-nav-phone .blue-title .text p {
    position: relative;
    color: #00A0F0;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

/* 標題前的藍線 */
.cate-nav-phone .blue-title .text p::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: #66CBFF;
    width: 5px;
    height: 25px;
}

.cate-nav-phone .cate,
.cate-nav-phone .body {
    padding: 0 15px
}

/* 小標題mb */
.cate-nav-phone .cate .title,
.cate-nav-phone .body .title {
    margin-bottom: 15px;
}

/* 小標題 文字和箭頭排列 */
.cate-nav-phone .cate .title a,
.cate-nav-phone .body .title a {
    display: flex;
    justify-content: space-between;

}

/* 類別文字樣式 */
.cate-nav-phone .cate .title .text,
.cate-nav-phone .body .title .text {
    color: #000;
    font-size: 18px;
}

/* 箭頭 */
.cate-nav-phone .cate .title .arrow,
.cate-nav-phone .body .title .arrow {
    width: 22px;
    height: 22px;
}

/* 分隔線 */
.cate-nav-phone .line {
    background-color: #C0C9D0;
    height: 1px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {

    /* 桌機時關閉 */
     .cate-nav-phone {
        display: none;
    }
}