/* 購物車商品欄位 */
.cart-column {
  border-bottom: 1px solid #ecebeb;
  padding: 25px;
  height: 190px;
  font-size: 20px;
}

.product-img {
  width: 140px;
  height: 140px;
  margin-right: 10px;
}

.product-img img {
  width: 100%;
}
.product-description {
  max-width: 274px; /* 454-160-20(padding) */
  font-size: 20px;
  line-height: 20px;
}

.plus-minus-btn {
  width: 100%;
  height: 33px;
  outline: 1px solid black;
}

.minus {
  width: 33px;
  outline: 1px solid black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.number {
  width: 60%;
  line-height: 33px;
}
.plus {
  width: 33px;
  height: 33px;
  outline: 1px solid black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FaTimes-icon{
  cursor: pointer;
}

@media screen and (max-width: 376px) {
  .cart-item {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #eae8e8;
  }

  .product-img {
    width: 80px;
    height: 80px;
  }
  .product-description {
    height: 60px;
    font-size: 14px;
  }

  /* 增減按鈕 */
  .plus-minus-btn {
    width: 60%;
    height: 25px;
    outline: 1px solid black;
  }

  .minus {
    width: 25px;
    outline: 1px solid black;
    align-items: center;
    justify-content: center;
  }

  .number {
    width: 80%;
    line-height: 25px;
  }
  .plus {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    align-items: center;
    justify-content: center;
  }
}
