/* 特惠價標題 */
.special-offer>.title {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 15px;
    margin-bottom: 25px;
}

.special-offer>.title .notebook-icon {
    width: 10%;
    height: 70%
}

.special-offer>.title .circle-icon {
    width: 10%;
    height: 70%
}

.special-offer>.title .text p {
    color: #000;
    font-size: 22px;
}

@media screen and (min-width: 992px) {

    .special-offer>.title .notebook-icon {
        width: 5%;
        height: 5%;
    }

    .special-offer>.title .circle-icon {
        width: 5%;
        height: 5%;
    }

    .special-offer>.title .text p {
        font-size: 25px;
    }
}

/* 特惠價 輪播 */
/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 35px;
    height: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 35px;
    line-height: 1;

    opacity: 1;
    color: transparent;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    background: url('http://localhost:3000/images/arrow/left.jpg');
    background-size: contain;
    width: 35px;
    height: 35px;
}

.slick-next:before {
    background:url('http://localhost:3000/images/arrow/right.jpg');
    background-size :contain;
    width: 35px;
    height: 35px;
}

.specialOfferSlider .slick-prev {
    left: -35%;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.specialOfferSlider .slick-next {
    right: -35%;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}

/* 自定義區塊 */

.specialOfferSlider {
    width: 60%;
    margin: auto;
}

.specialOfferSlider .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .25);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 5px 0;
    padding: 10px 0;
}

.specialOfferSlider .item .line-top,
.specialOfferSlider .item .line-bottom {
    width: 100%;
    height: 1px;
    background-color: rgb(110, 68, 68);
    margin: auto;
}

.specialOfferSlider .item .line-bottom {
    width: 80%;
}

.specialOfferSlider .item .pic {
    position: relative;
    width: 60%;
    margin: 0 auto 10px;
}

.specialOfferSlider .item .pic .heart-icon {
    position:absolute;
    width: 20px;
    height: 20px;
    right: -30%;
    bottom: 0;
}

.specialOfferSlider .item .title {
    color:#000;
    margin: 10px 0;
    font-weight: 500;
    /* font-size: 14px; */
}

.specialOfferSlider .item .price {
    color:#000;
    margin: 10px 0 0 0;
    /* font-size: 16px; */
    font-weight: 500;
}

@media screen and (min-width:992px) {
    .specialOfferSlider {
        /* 放大輪播圖 */
        width: 85%;
        margin: auto;
    }

    /* 讓各個商品iten之間有空格 */
    .specialOfferSlider .slick-slide {
        padding: 0 10px
    }

    /* 調大商品排行的寬度 */
    .specialOfferSlider .item .number {
        width: 22%;
    }

    /* 調整箭頭位置 */
    .specialOfferSlider .slick-prev {
        left: -9%;
    }
   
    /* 調整箭頭位置 */
    .specialOfferSlider .slick-next {
        right: -9%;
    }
}