/* 訂單明細 */
.order-detail-box {
  width: 100%;
  outline: 1px solid #ecebeb;
}

.order-detail-title {
  width: 100%;
  height: 70px;
  background-color: #ecebeb;
  font-size: 24px;
  line-height: 70px;
  padding-left: 25px;
}

.order-detail-box .subtitle {
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
}

.detail-box {
  padding: 0 0px 10px 25px;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 376px) {
  /* 訂單明細 */
  .order-detail-box {
    width: 100%;
    outline: 1px solid #ecebeb;
  }

  .order-detail-title {
    width: 100%;
    height: 45px;
    background-color: #ecebeb;
    font-size: 18px;
    line-height: 45px;
    padding-left: 15px;
  }

  .order-detail-box .subtitle {
    padding: 15px 15px 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .detail-box {
    padding: 0 0px 10px 15px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
  }
}
