.zi-select-shop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .zi-select-shop {
    align-items: stretch;
    justify-content:stretch;
  }
}
.zi-select-shop-background {
  width: 100%;
  height: 1362px;
  opacity: 0.4;
  object-fit: cover;
}
@media (max-width: 375px) {
  .zi-select-shop-background {
    display: none;
  }
}

.zi-select-shop-form-list {
  display: flex;
  position: absolute;
  top: 0px;
}

.zi-select-shop-card-content {
  /* position: absolute; */
  padding-right: 150px;
  width: 600px;
  margin-top: 150px;
}
@media (max-width: 375px) {
  .zi-select-shop-card-content {
    margin-top: 0px;
    padding: 0px;
    position: absolute;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    left: 18px;
  }
}

.zi-select-shop-card-content h1 {
  margin-top: 38px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.075em;
  color: rgb(31 31 31);
}

@media (max-width: 375px) {
  .zi-select-shop-card-content h1 {
    font-size: 36px;
  }
}

.zi-select-shop-card-content p {
  margin-bottom: 25px;
  align-items: center;
  /* font-size: 20px; */
  text-align: center;
  color: #777777;
}

@media (max-width: 375px) {
  .zi-select-shop-card-content p {
    font-size: 16px;
    line-height: 25px;
  }
}

.zi-select-shop-card-line {
  border-top: 2px solid #66cbff;
}

.zi-select-shop-autofindbtn {
  padding-right: 10px;
  color: white;
  margin-top: 44px;
  margin-left: 21%;
  width: 266px;
  height: 56px;
  background-color: #7f7f7f;
  font-size: 20px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .zi-select-shop-autofindbtn {
    font-size: 18px;
    margin-left: 17%;
    width: 193px;
    height: 47px;
  }
}




.zi-select-shop-autofindbtn:hover {
  background-color: #949494;
}

.zi-select-shop-autofindbtn img {
  margin-right: 10px;
  width: 31px;
  height: 31px;
}

@media (max-width: 375px) {
  .zi-select-shop-autofindbtn img{
    width: 22px;
    height: 19px;
    margin-left: 6px;
    margin-right: 5px;
  }
}

/* 註冊表單內容 */

.zi-select-shop-form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.zi-select-shop-form-content label {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  color: #5c5c5c;
  letter-spacing: 0.225em;
}

.zi-select-shop-city-label {
  margin-top: 44px;
}

@media (max-width: 375px) {
  .zi-select-shop-form-content label {
    font-size: 16px;
    margin-top: 30px;
  }
}

.zi-select-shop-form-content input {
  font-size: 25px;
  height: 65px;
  padding: 8px;
}

@media (max-width: 375px) {
  .zi-select-shop-form-content input {
    height: 55px;
    font-size: 18px;
  }
}

.zi-select-shop-form-content select {
  font-size: 25px;
  height: 75px;
  padding: 8px;
  color: #5c5c5c;
}

@media (max-width: 375px) {
  .zi-select-shop-form-content select {
    height: 75px;
    font-size: 18px;
  }
}

/* ************下方按鈕部分 ***************************************/
.zi-select-shop-button-flex {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 150px;
  justify-content: center;
  left: 0px;
}

@media (max-width: 375px) {
  .zi-select-shop-button-flex {
    width: 307px;
    position: absolute;
    top: 1030px;
    left: 34px;
    height: 49px;
    font-size: 18px;
    justify-content: space-between;
  }
}

.zi-select-shop-button-flex button {
  margin-top: 46px;
  margin-bottom: 46px;
  width: 296px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #ffffff;
  background-color: #00a0f0;
}

.zi-select-shop-backstep {
  margin-right: 253px;
}

@media (max-width: 375px) {
  .zi-select-shop-backstep {
    margin-right: 0px;
  }
}

.zi-select-shop-button-flex button:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .zi-select-shop-button-flex button {
    width: 100px;
    height: 49px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}
/* ************右邊部分 ***************************************/

.zi-select-shop-map-group {
  margin-top: 145px;
}

@media (max-width: 375px) {
  .zi-select-shop-map-group {
    /* display: none; */
    width: 307px;
    margin-top: 0px;
    position: relative;
    top: 700px;
    margin-left: 30px;
  }
}

.zi-select-shop-map-area {
  /* width: 100%;
  background: #dee8ef;
  border: 2px dashed #66cbff;
  display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column; */
}

.zi-select-shop-google-map {
  
}

@media (max-width: 375px) {
  .zi-select-shop-google-map {
    /* display: none; */
    width: 307px;
    height: 307px;
  }
}



.cardAddWithMap{
  margin-top: 20px;

}
