.accordion {
    display: block;
    margin-bottom: 20px;
}

.accordion .cate-title, 
.accordion .body-title {
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0;
    color:#000;
}

.card{
    margin-bottom: 25px;
}

.productsClickedPage .card-body,
.productsCategoryPage .card-body,
.productsSearchPage .card-body {
    padding: 10px 15px;
    color:#000;
}

/* 解決css衝突 */
.productsClickedPage .accordion>.card>.card-header, 
.productsCategoryPage .accordion>.card>.card-header,
.productsSearchPage .accordion>.card>.card-header {
    margin-bottom: 10px;
}

@media screen and (min-width:992px){
    .accordion{
        display: none;
    }
}