/* 購物車欄位的最外框 */
.cart-box {
  width: 100%;
  height: 0%;
  outline: 1px solid #ecebeb;
  margin-bottom: 56px;
  cursor: pointer;
}

/* 購物車欄位 */
.cart-title {
  width: 100%;
  height: 100px;
  background-color: #ecebeb;
  font-size: 30px;
  line-height: 50px;
}

.drop-list{
  transition: .3s;
  height: 100%;
  overflow: hidden;
}
/* 收合購物車內容的動畫class */
.hide {
  height: 0;
}

.arrow-icon {
  width: 45px;
  height: 45px;
  margin: auto;
  transition: 0.2s;
}

.fa-chevron-down {
  transition: 0.2s;
}
.rotate-negative {
  transform: rotate(-180deg);
}

/* 購物車次欄位 */
.cart-subtitle {
  border-bottom: 1px solid #ecebeb;
  padding: 0 25px;
  height: 65px;
  font-size: 20px;
  line-height: 65px;
}

@media screen and (max-width: 376px) {
  /* 購物車欄位的最外框 */
  .cart-box {
    width: 100%;
    height: 100%;
    border: 1px solid #ecebeb;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
  }

  /* 購物車欄位 */
  .cart-title {
    width: 100%;
    height: 60px;
    background-color: #ecebeb;
    line-height: 30px;
    font-size: 18px;
  }
  /* 收合購物車內容的動畫class */
 

  .arrow-icon {
    width: 15px;
    height: 15px;
    margin: auto;
  }
  .fa-chevron-down {
    transition: 0.2s;
  }
  .rotate-negative {
    transform: rotate(-180deg);
  }
}
