/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************/

.zi-Prescription {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  .zi-Prescription {
    /* position: relative; */
    top: 55px;
    /* display: inline-flex; */
    justify-content: stretch;
    align-items: stretch;
  }
}
.zi-Prescription-background {
  width: 100%;
  height: 1362px;
  opacity: 0.4;
  object-fit: cover;
}
@media (max-width: 375px) {
  .zi-Prescription-background {
    display: none;
  }
}

.zi-Prescription-form-list {
  display: flex;
  position: absolute;
  top: 0px;
}

@media (max-width: 375px) {
  .zi-Prescription-form-list {
    width: 307px;
  }
}

.zi-Prescription-card-content {
  /* position: absolute; */
  padding-right: 150px;
  width: 600px;
}
@media (max-width: 375px) {
  .zi-Prescription-card-content {
    padding: 0px;
    position: absolute;
    left: 10%;
    width: 307px;
    box-shadow: none;
    border-radius: 0px;
  }
}

.zi-Prescription-card-content h1 {
  margin-top: 38px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.075em;
  color: rgb(31 31 31);
}

@media (max-width: 375px) {
  .zi-Prescription-card-content h1 {
    font-size: 36px;
  }
}

.zi-Prescription-card-content p {
  margin-bottom: 25px;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: #777777;
}

@media (max-width: 375px) {
  .zi-Prescription-card-content p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.zi-Prescription-card-line {
  border-top: 2px solid #66cbff;
}

/* 註冊表單內容 */

.zi-Prescription-form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.zi-Prescription-form-content label {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  color: #5c5c5c;
  letter-spacing: 0.225em;
}

@media (max-width: 375px) {
  .zi-Prescription-form-content label {
    font-size: 18px;
  }
}

.zi-Prescription-form-content input {
  font-size: 25px;
  height: 65px;
  padding: 8px;
}

@media (max-width: 375px) {
  .zi-Prescription-form-content input {
    height: 55px;
    font-size: 18px;
  }
}

.zi-Prescription-form-content select {
  font-size: 25px;
  height: 75px;
  padding: 8px;
  color: #5c5c5c;
}



@media (max-width: 375px) {
  .zi-Prescription-form-content select {
    height: 55px;
    font-size: 18px;
  }
}

#Freq-section{
  display: flex;
  flex-direction: column;
}

.zi-Prescription-Birthday-text {
  color: #525252;
}



.zi-Prescription-radio-flex {
  display: flex;
}

.zi-Prescription-radio-flex input {
  vertical-align: -15px;
  margin-top: 0px;
  height: 45px;
}

.zi-Prescription-radio-flex label {
  margin: 0px;
  margin-right: 25px;
  letter-spacing: 0.1rem;
}

@media (max-width: 375px) {
  .zi-Prescription-radio-flex label {
    margin-right: 93px;
  }
}

/* ************下方按鈕部分 ***************************************/
.zi-Prescription-button-flex {
  position: absolute;
  bottom: 255px;
}

@media (max-width: 375px) {
  .zi-Prescription-button-flex {
    position: absolute;
    top: 1470px;
    left: 36%;
    height: 49px;
    font-size: 18px;
  }
}

.zi-Prescription-button-flex button {
  margin-top: 46px;
  margin-bottom: 46px;
  width: 296px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #ffffff;
  background-color: #00a0f0;
}

.zi-Prescription-submit:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  .zi-Prescription-button-flex button {
    width: 100px;
    height: 49px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

/* 處方圖片上傳 */
.zi-Prescriptionimg-submit{
  margin-bottom:20px;
  width: 214px;
  height: 37px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.25em;
  color: #ffffff;
  background-color: #00a0f0;
}
/* ************右邊部分 ***************************************/

.zi-Prescription-uploadimg-group {
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 375px) {
  .zi-Prescription-uploadimg-group {
    width: 307px;
    height: 485px;
    margin: 0px auto;
    position: relative;
    left: 9.5%;
    top:900px;
  }
}

.zi-Prescription-uploadimg-group p {
  margin-top: 15px;
  margin-bottom: 24px;
  font-size: 20px;
  color: #777777;
  text-align: center;
  font-size: 20px;
}

.zi-Prescription-uploadpic {
  width: 585px;
  height: 770px;
  background: #dee8ef;
  border: 2px dashed #66cbff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 375px) {
  .zi-Prescription-uploadpic {
    /* display: none; */
    width: 307px;
    height: 485px;
    margin-bottom: 60px;
  }
}

/* .zi-Prescription-uploadpic a {
  font-size: 25px;
  color: #777777;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 20px;
  justify-content: center;
} */

.zi-Prescription-uploadbtn {
  display: flex;
  height: 92px;
  width: 92px;
  border-radius: 50%;
  background-color: #66cbff;
}

@media (max-width: 375px) {
  .zi-Prescription-uploadbtn {
    margin-bottom: 61px;
  }
}

.zi-Prescription-plus1{
  width: 52px;
  height: 4px;
  background-color: white;
  position: relative;
}

.zi-Prescription-plus2{
  width: 4px;
  height: 52px;
  background-color: white;
  position: absolute;
}
