/* product 包覆 item */
.product .item {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 5px auto;
    padding: 10px 0;
}

/* 線 */
.product .item .line-top,
.product .item .line-bottom {
    width: 100%;
    height: 1px;
    background-color: rgb(110, 68, 68);
    margin: auto;
}

.product .item .line-bottom {
    width: 80%;
}

/* 圖片 */
.product .item .pic {
    position: relative;
    width: 60%;
    margin: 0 auto 10px;
}

/* 標題 */
.product .item .title {
    color: #000;
    margin: 10px 0;
}

/* 價格 */
.product .item .price {
    display: flex;
    justify-content:space-around;
    color: #000;
    margin: 10px 0 0 0;
}

/* 原價給刪除線 (會影響到其他頁面，額外給class) */
.product .item .price .original-price {
    text-decoration: line-through;
    font-size: 16px;
}

/* 特惠價價格 */
.product .item .price .special-offer {
   color:red;
   font-size: 18px;
}